<header class="py-3">
  
    <nav class="navbar navbar-light">
      <div class="container text-center">
        <a class="navbar-brand mb-0 border-0" href="{{site.baseurl}}">
          <img class="logo" src="{{site.baseurl}}/img/ik-logo.svg" alt="">
          <!-- <i class="fas fa-star text-warning"></i> {{site.title}} -->
        </a>
        <!-- <span class="navbar-brand mb-0 h1">{{site.title}}</span> -->
<!--         <span class="navbar-text">
          Это не те закладки, которых вы ищете.
        </span> -->
      </div>
    </nav>

</header>